* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3DBB9D;
  color: #E3F6F1;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

img {
  display: block;
  width: 100%;
}

button {
  border: 0;
}

/* Generic Styling */
.center-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.accent-text {color: #1F5E4F;}

/* Button */
.button {
  display: inline-block;
  min-width: 100px;
  padding: 10px 20px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  background-color: #E3F6F1;
  color: #1F5E4F;
  cursor: pointer;
}

.button-primary {
  background-color: #3DBB9D;
  color: #E3F6F1;
}

/* Navigation */
.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navigation-container h1, .navigation-container ul, .hire-container {
  flex: 1;
}

.hire-container {
  display: flex;
  justify-content: flex-end;
}

.navigation-container ul {
  display: flex;
}

.navigation-container ul li {
  flex: 1;
  list-style: none;
  text-align: center;
}

.navigation-container li a {
  color: #DDFFF7;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

/* Hero */
.hero-container {
  display: flex;
  align-items: center;
  height: 65vh;
  padding: 0px 20px;
  margin-bottom: 4rem;
  gap: 2rem;
}

.hero-content, .hero-image {
  flex: 1;
}

.hero-image {
  overflow: hidden;
}

.hero-content {
  display: flex;
  align-items: center;
}

.hero-title {
  font-size: 60px;
  font-weight: 300;
}

.hero-title__bold {
  font-weight: 700;
}

/* Portfolio */
.portfolio {
  padding: 6rem 0;
  background-color: #FFF;
  color: #2F2F2F;
}

.portfolio h2, .contact h2 {
  margin-bottom: 3rem;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  flex-grow: 1;
  min-width: 350px;
}

.card-header {
  padding: 1rem 0;
}

.card-content {
  width: 100%;
  overflow: hidden;
}

/* Contact */
.contact {
  padding: 6rem 0;
  background-color: #EFEFEF;
  color: #2F2F2F;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

form input, form textarea {
  display: block;
  padding: 5px;
  margin-bottom: 1rem;
  min-width: 350px;
}

.footer {
  padding: 0.5rem 0;
}

.footer p {
  text-align: center;
}