* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3DBB9D;
  color: #E3F6F1;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* Generic Styling */
.center-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Button */
.button {
  display: inline-block;
  min-width: 100px;
  padding: 10px 20px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  background-color: #E3F6F1;
  color: #1F5E4F;
}

/* Navigation */
.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navigation-container h1, .navigation-container ul, .hire-container {
  flex: 1;
}

.hire-container {
  display: flex;
  justify-content: flex-end;
}

.navigation-container ul {
  display: flex;
}

.navigation-container ul li {
  flex: 1;
  list-style: none;
  text-align: center;
}

.navigation-container li a {
  color: #DDFFF7;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.hero-container {
  display: flex;
  align-items: center;
  height: 65vh;
  padding: 0px 20px;
  margin-bottom: 2rem;
  gap: 2rem;
}

.hero-content, .hero-image {
  flex: 1;
}

.hero-image {
  overflow: hidden;
}

.hero-image img {
  display: block;
  width: 100%;
}

.hero-content {
  display: flex;
  align-items: center;
}

.hero-title {
  font-size: 60px;
  font-weight: 300;
}

.hero-title__bold {
  font-weight: 700;
}

.accent-text {color: #2F2F2F;}